PORT=3000
MONGO_URI=masukkan_link_mongodb_cluster_disini
JWT_SECRET=masukkan_rahasia_jwt_disini
GEMINI_API_KEY=masukkan_api_key_gemini_disini
AI_SCAN_URL=https://suryapratama62474-nutriscan-api-backend.hf.space/scan